<?xml version="1.0" encoding="UTF-8" ?>
<authorizationService version="1">
    <body merchantId="$merchantId">
    <transaction refno="$refno">
        <request>
            <applePayToken><![CDATA[$token]]></applePayToken>
            <reqtype>NOA</reqtype>
            <transtype>05</transtype>
            <sign>$sign</sign>
        </request>
    </transaction>
    </body>
</authorizationService>